<body>
  <div class="wrapper">
    <div class="left-column">
      <img src="{{ '/assets/img/SK.jpeg' | relative_url }}" alt="My Picture" class="profile-pic">
      <div style="text-align: center;">
        <p>Email: <a href="sadia.kamal@okstate.edu">sadia.kamal@okstate.edu</a></p>
        <p style="display: flex; justify-content: center; gap: 1rem;">
          <a href="https://www.linkedin.com/in/sadia-kamal-9ba392171/" target="_blank" rel="noopener noreferrer">
            <img src="{{ '/assets/linkedin.png' | relative_url }}" alt="LinkedIn" style="width: 30px; height: 30px;">
          </a>
          <a href="https://scholar.google.com/citations?user=lclNrycAAAAJ&hl=en" target="_blank" rel="noopener noreferrer">
            <img src="{{ '/assets/google_scholar.png' | relative_url }}" alt="Google Scholar" style="width: 30px; height: 30px;">
          </a>
        </p>
      </div>
      </div>
    <div class="right-column">
      <header>
        <h1 style="text-align: center;">
          <a href="{{ "/" | absolute_url }}">
            {{ site.title | default: site.github.repository_name }}
          </a>
        </h1>
        <nav>
          <ul>
            <li><a href="{{ "/" | absolute_url }}">Home</a></li>
            <li><a href="{{ "/publications" | https://github.com/sadiakamal/sadiakamal.github.io/blob/main/publications.md }}">Publications</a></li>
            <li><a href="{{ "/education" | https://github.com/sadiakamal/sadiakamal.github.io/blob/main/education.md}}">Education</a></li>
          </ul>
        </nav>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
  </div>
</body>
